<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yangmbin.funnycampus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <!-- 添加网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 添加写SD卡权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> 
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/deskicon1"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.funnycampus.ui.AppStart"
            android:label="趣味校园" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- 启动页面的activity -->
        <activity android:name="com.funnycampus.ui.Welcome" />
        <!-- 登录页面的activity -->
        <activity android:name="com.funnycampus.ui.Login" />
        <!-- 登录加载页面的activity -->
        <activity android:name="com.funnycampus.ui.LoadingActivity"
            android:theme="@style/MyDialogStyle" />
        <!-- 主页面的activity -->
        <activity android:name="com.funnycampus.ui.MainPage" />
        <!-- 注册页面的activity -->
        <activity android:name="com.funnycampus.ui.Register" />
        <!-- 按下返回键出现的activity -->
        <activity android:name="com.funnycampus.ui.Exit" 
            android:theme="@style/MyDialogStyle" />
        <!-- 发布校园消息的activity -->
        <activity android:name="com.funnycampus.ui.SendMessage" />
        <!-- 近期新闻列表的activity -->
        <activity android:name="com.funnycampus.ui.RecentNewsList" />
        <!-- 新闻详情的activity -->
        <activity android:name="com.funnycampus.ui.DetailNews" />
        <!-- 选择城市的activity -->
        <activity android:name="com.funnycampus.ui.ChooseCity" />
        <!-- 显示城市天气的activity -->
        <activity android:name="com.funnycampus.ui.WeatherInfo" />
        <!-- 搜索图书和显示的activity -->
        <activity android:name="com.funnycampus.ui.SearchBook"
                  android:windowSoftInputMode="stateHidden" />
        <!-- 被窗口化的上部按钮菜单的activity -->
        <activity android:name="com.funnycampus.ui.HomePopDialog"
            android:theme="@style/MyDialogStyleTop" />
        <!-- 主页分享内容的详细信息的activity -->
        <activity android:name="com.funnycampus.ui.HomeDetailMessage" />
        <!-- 好友列表activity -->
        <activity android:name="com.funnycampus.ui.MyFriendsListActivity" />
        <!-- 气泡聊天activity -->
        <activity android:name="com.funnycampus.ui.ChatListActivity"
            	  android:windowSoftInputMode="stateHidden" />
        <!-- 添加好友和私信的activity -->
        <activity android:name="com.funnycampus.ui.AddFriendAndChatDialog"
            android:theme="@style/MyDialogStyle" />
        <!-- 消息中心activity -->
        <activity android:name="com.funnycampus.ui.MessageCenter" />
        <!-- 周围的人activity -->
        <activity android:name="com.funnycampus.ui.PeopleAround" />
        
        <!-- 发送位置信息的service -->
        <service android:name="com.funnycampus.service.SendLocationInfoService">
            <intent-filter>
                <action android:name="com.funnycampus.service.SendLocationInfoService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>
